.findYourOcean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    color: rgb(255, 136, 0);
    padding: 10px 0 10px 0;
  }
  &__selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10rem;
      &__select {
        padding: 10px 60px 10px 60px;
        background-color: rgb(141, 141, 230);
        border-radius: 10rem;
      }
    }
    &__city {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10rem;
      &__select {
        padding: 10px 60px 10px 60px;
        background-color: rgb(141, 141, 230);
        border-radius: 10rem;
      }
    }
  }
}
