.findYourOcean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__title {
    padding: 3rem 0 10px 0;
    font-family: $fontMainTitle;
    color: $mainGreen;
  }
  &__selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10rem;
    }
    &__city {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: fit-content;
      &__title {
        width: 100%;
        text-align: center;
      }
      &__button {
        font-size: 5vw;
        font-family: $fontText;
        justify-content: space-around;
        display: flex;
        background: white;
        left: 5vw;
        padding: 0.8rem;
        margin-bottom: 1vw;
        margin: 3px;
        width: auto;
        border: $secondaryBlue;
        border-radius: 40px;
        color: $mainBlue;
        background-color: $secondaryBlue;
        border: solid;
        border-width: 1vw;
        border-color: $mainBlue;
      }
      &__buttonOn {
        font-size: 5vw;
        font-family: $fontText;
        justify-content: space-around;
        display: flex;
        background: white;
        left: 5vw;
        padding: 0.8rem;
        margin-bottom: 1vw;
        margin: 3px;
        width: auto;
        border: $secondaryBlue;
        border-radius: 40px;
        color: $secondaryBlue;
        background-color: $mainBlue;
        border: solid;
        border-width: 1vw;
        border-color: $mainBlue;
      }
    }
  }
}
