.hamburger {
  position: absolute;
  left: 0;
  top: 0%;
  width: 30%;
  font-size: 3.5vh;
  color: $mainGreen;

  &__container {
    transition-timing-function: ease-in-out;

    &__open {
      padding: 12px 5px 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 25px;
      color: $mainGreen;

      &__a {
        text-shadow: 2px 2px 4px black;
        font-family: $fontText;
        color: $mainGreen;
        text-decoration: none;
      }
    }

    &__close {
      display: none;
    }
  }
}
